body {
    font-family: 'Montserrat', sans-serif;
    background-color:azure;
}

hr {
    margin-left: 0px;
    max-width: 500px;
    margin-bottom: 15px;
    margin-top: 15px;
}

b {
    font-size: 20px;
}

.name {
    font-size: 16px;
    padding: 15px;
    text-align: center;
    background-color: #dbdbd7;
    border: 0px;
    border-radius: 10px;
}

.name:hover {
    opacity: 0.9;
}

.name:active {
    background-color: #dbdbd7;
}

.surname {
    font-size: 16px;
    padding: 15px;
    text-align: center;
    background-color: #dbdbd7;
    border: 0px;
    margin-left: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.surname:hover {
    opacity: 0.9;
}

.surname:active {
    background-color: #dbdbd7;
}


.login {
    font-size: 16px;
    padding: 15px;
    text-align: center;
    background-color: #dbdbd7;
    border: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.login:hover {
    opacity: 0.9;
}

.login:active {
    background-color: #dbdbd7;
}


.password {
    font-size: 16px;
    padding: 15px;
    text-align: center;
    background-color: #dbdbd7;
    border: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.password:hover {
    opacity: 0.9;
}

.password:active {
    background-color: #dbdbd7;
}

.repeat_password {
    font-size: 16px;
    padding: 15px;
    text-align: center;
    background-color: #dbdbd7;
    border: 0px;
    margin-left: 15px;
    border-radius: 10px;
}

.repeat_password:hover {
    opacity: 0.9;
}

.repeat_password:active {
    background-color: #dbdbd7;
}

.email {
    font-size: 16px;
    padding: 15px;
    text-align: center;
    background-color: #dbdbd7;
    border: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
   
}

.email:hover {
    opacity: 0.9;
}

.email:active {
    background-color: #dbdbd7;
}

.radio {
    margin-top: 10px;
    color: #000;
}

.button {
    color: #fff;
    font-size: 20px;
    padding: 15px 40px;
    border: 0px;
    background-color: #222;
    border-radius: 10px;
    border: 1px solid;
    border-color: #222;
}

.button:hover {
    opacity: 0.9;
    transition: 0.15 linear;
}

.button:active {
    background-color: #000;
    
}
