body {
    font-family: 'Montserrat', sans-serif;
    background-color:azure;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-left: 25px;
    
}

hr {
    margin-left: 0px;
    max-width: 300px;
    margin-bottom: 15px;
    margin-top: 15px;
}

b {
    font-size: 20px;
}

.name {
    font-size: 16px;
    padding: 15px;
    text-align: center;
    background-color: #dbdbd7;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.name:hover {
    opacity: 0.9;
}

.name:active {
    background-color: #dbdbd7;
}

.password {
    font-size: 16px;
    padding: 15px;
    text-align: center;
    background-color: #dbdbd7;
    border: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.password:hover {
    opacity: 0.9;
}

.password:active {
    background-color: #dbdbd7;
}

.repeat_password {
    font-size: 16px;
    padding: 15px;
    text-align: center;
    background-color: #dbdbd7;
    border: 0px;
    border-radius: 10px;
}

.repeat_password:hover {
    opacity: 0.9;
}

.repeat_password:active {
    background-color: #dbdbd7;
}

.email {
    font-size: 16px;
    padding: 15px;
    text-align: center;
    background-color: #dbdbd7;
    border: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
   
}

.email:hover {
    opacity: 0.9;
}

.email:active {
    background-color: #dbdbd7;
}

.radio {
    margin-top: 10px;
    color: #000;
}

.button, .button_login {
    color: #fff;
    font-size: 20px;
    padding: 15px 40px;
    border: 0px;
    background-color: #222;
    border-radius: 10px;
    border: 1px solid;
    border-color: #222;
    margin-left: 25px;
}

.button:hover, .button_login:hover {
    opacity: 0.9;
    transition: 0.15 linear;
}

.button:active, .button_login:active {
    background-color: #000;   
}

.button_login {
    margin-left: 45px;
}


.login {
    margin-left: 60px;
}

.center-container {
    position: absolute;
    top:15px;
    right: 15px;
}


